.card
{
    background-color: transparent;
    width: 340px;
    height: 340px;
    border-radius: 6px;
    perspective: 1000px;
    margin: 25px 0;
    border: none;
}

.slide-item
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: ease-in-out 600ms;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card:hover .slide-item {
    transform: rotateY(180deg);
  }
  
  .front-side,.back-side
  {
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
  }
  .front-side > p
  {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: normal;
    font-style: normal;
  }
  .front-side::before
  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(135deg, #1a9be6, #1a57e6);
    opacity: 0.25;
 
  }
  .front-side
  {
    background-color: transparent;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border-radius: 6px;
  }

  .back-side
  {
    background-color:transparent;
    color: #015959;
    display: flex;
    padding: 0 2rem;
    text-align: left;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    
  }
  .back-side > div
  {
    border-radius: 6px;
  }

  .heading-slider
  {
    margin: 6rem 0;
    font-size: 34px;
    color: #007579;
    font-weight: bold;
    font-family: Open-sans, sans-serif;
    letter-spacing: normal;
    line-height: 1.25;
    text-align: center;
  }